{% extends "base.html" %} 
{% block title %} Профиль пользователя {{ user_profile }} {% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ user_profile.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ user_profile }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ subscribe }} <br />
                                            Подписан: {{ sub }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ amount_posts }}
                                            </div>
                                    </li>
                            </ul>
                            <li class="list-group-item">
                                {% if following %}
                                <a class="btn btn-lg btn-light" 
                                        href="{% url 'profile_unfollow' user_profile.username %}" role="button"> 
                                        Отписаться 
                                </a> 
                                {% else %}
                                <a class="btn btn-lg btn-primary" 
                                        href="{% url 'profile_follow' user_profile.username %}" role="button">
                                Подписаться 
                                </a>
                                {% endif %}
                            </li>
                    </div>
            </div>

            <div class="col-md-9">

                <!-- Повторяющиеся записи --> 
                {%  for post in page %}
                <!-- Начало блока с отдельным постом --> 
                {% include "post_item.html" with post=post %}{% endfor %}
                <!-- Конец блока с отдельным постом --> 

                <!-- Остальные посты -->  
                {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
                <!-- Здесь постраничная навигация паджинатора -->
     </div>
    </div>
</main>
{% endblock %}